@font-face {
    font-family: 'Trivial';
    src: url(./media/Trivial-Regular.otf);
}

@font-face {
    font-family: 'Probert';
    src: url(./media/probert-cond-bold.otf);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    /* colors */
    --color-positive: #ffffff;
    --color-negative: #000000;
    --color-primary: #0c0d20;
    --color-secondary: #20248e;
    --color-success: #85ad3b;
    --color-error: #bd3610;
    --color-hight: #fecb00;
    --color-orange: #f38c00;
    --color-pink: #df008e;
    --color-sea: #45a1f3;
    --color-purple: #ad06b2;
    --color-neutral: #e0e0eb;

    /* fonts family */
    --ff-title: 'Trivial', cursive;
    --ff-default: 'Muli', sans-serif;

    /* font size */
    --size-xl: 54px;
    --size-l: 28px;
    --size-m: 20px;
    --size-s: 16px;
    --size-xs: 14px;
    --size-xxs: 12px;

    /* box shadow */
    --box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
	0 2px 2px rgba(0,0,0,0.12), 
	0 4px 4px rgba(0,0,0,0.12), 
	0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.wrapper {
    background-color: var(--color-primary);
    height: 100vh;
}

.svgSprite {
    display: none;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.header__title {
    color: var(--color-positive);
    font-family: var(--ff-title);
    font-size: var(--size-xl);
    text-align: center;
}

.wrapper-cheese {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
    width: 300px;
}

.cheese {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent; 
    margin: .5rem;
}

.green {
    border-top: 24px solid var(--color-success);
}

.yellow {
    border-top: 24px solid var(--color-hight);
}

.orange {
    border-top: 24px solid var(--color-orange);
}

.pink {
    border-top: 24px solid var(--color-pink);
}

.blue {
    border-top: 24px solid var(--color-sea);
}

.purple {
    border-top: 24px solid var(--color-purple);
}

.hide {
    display: none;
}

.section_choose {
    background-color: var(--color-positive);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    height: 380px;
    margin: 0 auto;
    width: 300px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-default);
    position: relative;
    animation: flipInY ease-in-out .5s;
}

.section-choose__title {
    color: var(--color-secondary);
    font-family: var(--ff-title);
    font-size: var(--size-l);
    margin-bottom: .5em;
    text-align: center;
}

.section_choose label {
    font-size: var(--size-s);
    padding: 1.2em 0 .5em 0;
}

select {
    border: 1px solid var(--color-secondary);
}

.btn {
    align-self: flex-end;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    color: var(--color-positive);
    cursor: pointer;
    font-family: var(--ff-default);
    font-size: var(--size-s);
    padding: .75em 1.5em;
    margin-top: 2.5rem;
}

.btn-next {
    display: flex;
    align-self: flex-end;
    background-color: transparent;
    bottom: 2rem;
    width: 42px; 
    height: 32px; 
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    transition: all .3s;
}

.btn-next svg {
    width: 100%; 
    height: auto;
    color: var(--color-secondary);
}

svg {
    fill: currentColor;
}

.btn-next:hover {
    background-color: var(--color-sea);
}

.section_choose__msg-error {
    background-color: var(--color-purple);
    border-radius: 4px;
    color: var(--color-positive);
    font-size: var(--size-xs);
    font-family: var(--ff-title);
    line-height: 1.4em;
    width: 300px;
    padding: 1rem;
    position: absolute;
    top: 78%;
    left: 2rem;
    text-align: center;

    animation: bounceInLeft 1s both;
}

@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
} 

.msg-hide {
    background-color: var(--color-purple);
    border-radius: 4px;
    color: var(--color-positive);
    font-size: var(--size-xs);
    font-family: var(--ff-title);
    line-height: 1.4em;
    width: 300px;
    padding: 1rem;
    position: absolute;
    top: 78%;
    left: 2rem;
    text-align: center;
   
    animation: bounceHide 1s both;
}

@keyframes bounceHide {
    20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
} 

.section_questions {
    background-color: var(--color-positive);
    border-radius: 4px;
    border: 4px solid transparent;
    box-shadow: var(--box-shadow);
    /* height: 460px; */
    margin: 0 auto;
    width: 300px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-default);
    position: relative;
    transition: ease-in-out .5s;
    animation: flipInY ease-in .5s;
}

@keyframes flipInY {
    0% {
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    }
}
  
.error-section {
    border: 4px solid var(--color-error);
    animation: shake both 1s;
}

@keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
} 

.correct-section {
    border: 4px solid var(--color-success);
    animation: pulse 1s both;
}

@keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

.section_questions__list--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--size-s);
    padding: .75em 0 .75em 0;
}

.section_questions__list--item label {
    padding-right: 1em;
}

.section_questions__list--item-answer {
    display: flex;
    flex-direction: column;
    font-size: var(--size-s);
    padding-bottom: 1.5rem;
}

.cheese-answers {
    width: 0;
    height: 0;
    border-left: 24px solid var(--color-secondary);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin-right: 1em;
}

.correct-hide {
    opacity: 0;
    visibility: hidden;
    
}

.correct-show {
    bottom: 2rem;
    color: var(--color-success);
    font-family: var(--ff-title);
    font-size: var(--size-xs);
    left: 2rem;
    opacity: 1;
    padding: 1em;
    position: absolute;
    visibility: visible;

    transition: ease-in-out .5s;
}

.error-hide {
    opacity: 0;
    visibility: hidden;
}

.error-show{
    bottom: .75rem;
    color: var(--color-error);
    font-size: var(--size-xs);
    font-family: var(--ff-title);
    left: 2rem;
    line-height: 1.4em;
    max-width: 250px;
    opacity: 1;
    padding: 1em;
    position: absolute;
    visibility: visible;

    transition: ease-in-out .5s;
}

.section-final {
    background-color: var(--color-positive);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    /* height: 460px; */
    margin: 0 auto;
    width: 300px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    
    position: relative;
    animation: flipInY ease-in-out .5s;
}

.section-final--title {
    text-align: center;
    font-family: var(--ff-title);
    font-size: var(--size-l);
    line-height: 1.5em;
    padding: .5em 0;
}    

.section-final--list--item {
    font-family: var(--ff-title);
    font-size: var(--size-s);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75em 0 .75em 0;
}

.section-final--text {
    font-family: var(--ff-title);
    font-size: var(--size-s);
    line-height: 1.4em;
    color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: .75em;
    margin: 1rem 0;
    text-align: center;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
}

.btn-reload {
    display: flex;
    align-self: flex-end;
    background-color: transparent;
    width: 40px; 
    height: 40px; 
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    cursor: pointer;
    padding: 9px;
    transition: all .3s;
}

.btn-reload svg {
    width: 100%; 
    height: auto;
    color: var(--color-secondary);
}

.btn-reload:hover {
    background-color: var(--color-sea);
}

.section_questions__list--answer-options {
    display: grid;
    width: 300px;
    margin: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.btn-posible-answers {
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--size-s);
    font-family: var(--ff-default);
    min-height: 50px;
    padding: .5em;
}

.btn-posible-answers:disabled {
    background-color: transparent;
    border: 1px solid var(--color-neutral);
    color: var(--color-neutral);
    cursor: no-drop;
}

.correct {
    border: 1px solid var(--color-success);
    color: var(--color-success);
}

.correct:disabled {
    border: 1px solid var(--color-success);
    color: var(--color-success);
}

.incorrect {
    border: 1px solid var(--color-error);
    color: var(--color-error);
}

.incorrect:disabled {
    border: 1px solid var(--color-error);
    color: var(--color-error);
}

.btn-posible-answers:hover {
    
    color: var(--color-positive);
    background-color: var(--color-secondary);
    border: none;

}

/* Fuegos artificiales*/

.pyro > .before, .pyro > .after {
    position: absolute;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
-moz-animation-delay: 1.25s, 1.25s, 1.25s;
-webkit-animation-delay: 1.25s, 1.25s, 1.25s;
-o-animation-delay: 1.25s, 1.25s, 1.25s;
-ms-animation-delay: 1.25s, 1.25s, 1.25s;
animation-delay: 1.25s, 1.25s, 1.25s;
-moz-animation-duration: 1.25s, 1.25s, 6.25s;
-webkit-animation-duration: 1.25s, 1.25s, 6.25s;
-o-animation-duration: 1.25s, 1.25s, 6.25s;
-ms-animation-duration: 1.25s, 1.25s, 6.25s;
animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
to {
    box-shadow: -243px -289.6666666667px #ff00c4, -203px -364.6666666667px #66ff00, 245px -155.6666666667px #ff00bf, 145px -141.6666666667px #4400ff, 12px 69.3333333333px #26ff00, 211px -177.6666666667px #ff2f00, -6px -160.6666666667px #0dff00, 55px 37.3333333333px #ff001a, 15px -204.6666666667px #9900ff, 242px -74.6666666667px #ff00e1, -223px 26.3333333333px #6fff00, -188px -410.6666666667px #00ff33, -44px -312.6666666667px #6a00ff, 226px -312.6666666667px #1e00ff, 188px -123.6666666667px #7700ff, -195px -339.6666666667px #ff6a00, -51px -211.6666666667px #b700ff, 124px -262.6666666667px #ae00ff, -143px 5.3333333333px #ff00bb, -60px -227.6666666667px #d5ff00, 208px -373.6666666667px #6200ff, -147px 53.3333333333px #ff0091, 162px -291.6666666667px #ff0088, 132px 69.3333333333px #ff00d0, 221px -18.6666666667px #00a2ff, -112px -120.6666666667px #ff00ea, 15px 36.3333333333px #ff0080, 59px -145.6666666667px #00bbff, 97px -189.6666666667px #ff008c, -89px 40.3333333333px #002fff, -206px 67.3333333333px #00eeff, 63px -95.6666666667px #ff00f7, 207px -150.6666666667px #00ff77, -129px -286.6666666667px #88ff00, 133px -16.6666666667px #00ff44, -8px -211.6666666667px #fbff00, 28px 28.3333333333px #e600ff, 29px 50.3333333333px #00fffb, 12px -329.6666666667px #00b7ff, 72px -349.6666666667px #fbff00, -117px -194.6666666667px #ff007b, 16px -252.6666666667px #0015ff, 66px 4.3333333333px #d500ff, -32px -120.6666666667px #ffe100, -246px -152.6666666667px #ff0088, 118px -71.6666666667px #00ffb3, -222px 65.3333333333px #eaff00, 180px -385.6666666667px #ff00f2, 95px 17.3333333333px #ff9500, -110px -346.6666666667px #d9ff00, -143px -249.6666666667px #bfff00;
}
}
@-moz-keyframes bang {
to {
    box-shadow: -243px -289.6666666667px #ff00c4, -203px -364.6666666667px #66ff00, 245px -155.6666666667px #ff00bf, 145px -141.6666666667px #4400ff, 12px 69.3333333333px #26ff00, 211px -177.6666666667px #ff2f00, -6px -160.6666666667px #0dff00, 55px 37.3333333333px #ff001a, 15px -204.6666666667px #9900ff, 242px -74.6666666667px #ff00e1, -223px 26.3333333333px #6fff00, -188px -410.6666666667px #00ff33, -44px -312.6666666667px #6a00ff, 226px -312.6666666667px #1e00ff, 188px -123.6666666667px #7700ff, -195px -339.6666666667px #ff6a00, -51px -211.6666666667px #b700ff, 124px -262.6666666667px #ae00ff, -143px 5.3333333333px #ff00bb, -60px -227.6666666667px #d5ff00, 208px -373.6666666667px #6200ff, -147px 53.3333333333px #ff0091, 162px -291.6666666667px #ff0088, 132px 69.3333333333px #ff00d0, 221px -18.6666666667px #00a2ff, -112px -120.6666666667px #ff00ea, 15px 36.3333333333px #ff0080, 59px -145.6666666667px #00bbff, 97px -189.6666666667px #ff008c, -89px 40.3333333333px #002fff, -206px 67.3333333333px #00eeff, 63px -95.6666666667px #ff00f7, 207px -150.6666666667px #00ff77, -129px -286.6666666667px #88ff00, 133px -16.6666666667px #00ff44, -8px -211.6666666667px #fbff00, 28px 28.3333333333px #e600ff, 29px 50.3333333333px #00fffb, 12px -329.6666666667px #00b7ff, 72px -349.6666666667px #fbff00, -117px -194.6666666667px #ff007b, 16px -252.6666666667px #0015ff, 66px 4.3333333333px #d500ff, -32px -120.6666666667px #ffe100, -246px -152.6666666667px #ff0088, 118px -71.6666666667px #00ffb3, -222px 65.3333333333px #eaff00, 180px -385.6666666667px #ff00f2, 95px 17.3333333333px #ff9500, -110px -346.6666666667px #d9ff00, -143px -249.6666666667px #bfff00;
}
}
@-o-keyframes bang {
to {
    box-shadow: -243px -289.6666666667px #ff00c4, -203px -364.6666666667px #66ff00, 245px -155.6666666667px #ff00bf, 145px -141.6666666667px #4400ff, 12px 69.3333333333px #26ff00, 211px -177.6666666667px #ff2f00, -6px -160.6666666667px #0dff00, 55px 37.3333333333px #ff001a, 15px -204.6666666667px #9900ff, 242px -74.6666666667px #ff00e1, -223px 26.3333333333px #6fff00, -188px -410.6666666667px #00ff33, -44px -312.6666666667px #6a00ff, 226px -312.6666666667px #1e00ff, 188px -123.6666666667px #7700ff, -195px -339.6666666667px #ff6a00, -51px -211.6666666667px #b700ff, 124px -262.6666666667px #ae00ff, -143px 5.3333333333px #ff00bb, -60px -227.6666666667px #d5ff00, 208px -373.6666666667px #6200ff, -147px 53.3333333333px #ff0091, 162px -291.6666666667px #ff0088, 132px 69.3333333333px #ff00d0, 221px -18.6666666667px #00a2ff, -112px -120.6666666667px #ff00ea, 15px 36.3333333333px #ff0080, 59px -145.6666666667px #00bbff, 97px -189.6666666667px #ff008c, -89px 40.3333333333px #002fff, -206px 67.3333333333px #00eeff, 63px -95.6666666667px #ff00f7, 207px -150.6666666667px #00ff77, -129px -286.6666666667px #88ff00, 133px -16.6666666667px #00ff44, -8px -211.6666666667px #fbff00, 28px 28.3333333333px #e600ff, 29px 50.3333333333px #00fffb, 12px -329.6666666667px #00b7ff, 72px -349.6666666667px #fbff00, -117px -194.6666666667px #ff007b, 16px -252.6666666667px #0015ff, 66px 4.3333333333px #d500ff, -32px -120.6666666667px #ffe100, -246px -152.6666666667px #ff0088, 118px -71.6666666667px #00ffb3, -222px 65.3333333333px #eaff00, 180px -385.6666666667px #ff00f2, 95px 17.3333333333px #ff9500, -110px -346.6666666667px #d9ff00, -143px -249.6666666667px #bfff00;
}
}
@-ms-keyframes bang {
to {
    box-shadow: -243px -289.6666666667px #ff00c4, -203px -364.6666666667px #66ff00, 245px -155.6666666667px #ff00bf, 145px -141.6666666667px #4400ff, 12px 69.3333333333px #26ff00, 211px -177.6666666667px #ff2f00, -6px -160.6666666667px #0dff00, 55px 37.3333333333px #ff001a, 15px -204.6666666667px #9900ff, 242px -74.6666666667px #ff00e1, -223px 26.3333333333px #6fff00, -188px -410.6666666667px #00ff33, -44px -312.6666666667px #6a00ff, 226px -312.6666666667px #1e00ff, 188px -123.6666666667px #7700ff, -195px -339.6666666667px #ff6a00, -51px -211.6666666667px #b700ff, 124px -262.6666666667px #ae00ff, -143px 5.3333333333px #ff00bb, -60px -227.6666666667px #d5ff00, 208px -373.6666666667px #6200ff, -147px 53.3333333333px #ff0091, 162px -291.6666666667px #ff0088, 132px 69.3333333333px #ff00d0, 221px -18.6666666667px #00a2ff, -112px -120.6666666667px #ff00ea, 15px 36.3333333333px #ff0080, 59px -145.6666666667px #00bbff, 97px -189.6666666667px #ff008c, -89px 40.3333333333px #002fff, -206px 67.3333333333px #00eeff, 63px -95.6666666667px #ff00f7, 207px -150.6666666667px #00ff77, -129px -286.6666666667px #88ff00, 133px -16.6666666667px #00ff44, -8px -211.6666666667px #fbff00, 28px 28.3333333333px #e600ff, 29px 50.3333333333px #00fffb, 12px -329.6666666667px #00b7ff, 72px -349.6666666667px #fbff00, -117px -194.6666666667px #ff007b, 16px -252.6666666667px #0015ff, 66px 4.3333333333px #d500ff, -32px -120.6666666667px #ffe100, -246px -152.6666666667px #ff0088, 118px -71.6666666667px #00ffb3, -222px 65.3333333333px #eaff00, 180px -385.6666666667px #ff00f2, 95px 17.3333333333px #ff9500, -110px -346.6666666667px #d9ff00, -143px -249.6666666667px #bfff00;
}
}
@keyframes bang {
to {
    box-shadow: -243px -289.6666666667px #ff00c4, -203px -364.6666666667px #66ff00, 245px -155.6666666667px #ff00bf, 145px -141.6666666667px #4400ff, 12px 69.3333333333px #26ff00, 211px -177.6666666667px #ff2f00, -6px -160.6666666667px #0dff00, 55px 37.3333333333px #ff001a, 15px -204.6666666667px #9900ff, 242px -74.6666666667px #ff00e1, -223px 26.3333333333px #6fff00, -188px -410.6666666667px #00ff33, -44px -312.6666666667px #6a00ff, 226px -312.6666666667px #1e00ff, 188px -123.6666666667px #7700ff, -195px -339.6666666667px #ff6a00, -51px -211.6666666667px #b700ff, 124px -262.6666666667px #ae00ff, -143px 5.3333333333px #ff00bb, -60px -227.6666666667px #d5ff00, 208px -373.6666666667px #6200ff, -147px 53.3333333333px #ff0091, 162px -291.6666666667px #ff0088, 132px 69.3333333333px #ff00d0, 221px -18.6666666667px #00a2ff, -112px -120.6666666667px #ff00ea, 15px 36.3333333333px #ff0080, 59px -145.6666666667px #00bbff, 97px -189.6666666667px #ff008c, -89px 40.3333333333px #002fff, -206px 67.3333333333px #00eeff, 63px -95.6666666667px #ff00f7, 207px -150.6666666667px #00ff77, -129px -286.6666666667px #88ff00, 133px -16.6666666667px #00ff44, -8px -211.6666666667px #fbff00, 28px 28.3333333333px #e600ff, 29px 50.3333333333px #00fffb, 12px -329.6666666667px #00b7ff, 72px -349.6666666667px #fbff00, -117px -194.6666666667px #ff007b, 16px -252.6666666667px #0015ff, 66px 4.3333333333px #d500ff, -32px -120.6666666667px #ffe100, -246px -152.6666666667px #ff0088, 118px -71.6666666667px #00ffb3, -222px 65.3333333333px #eaff00, 180px -385.6666666667px #ff00f2, 95px 17.3333333333px #ff9500, -110px -346.6666666667px #d9ff00, -143px -249.6666666667px #bfff00;
}
}
@-webkit-keyframes gravity {
to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
}
}
@-moz-keyframes gravity {
to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
}
}
@-o-keyframes gravity {
to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
}
}
@-ms-keyframes gravity {
to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
}
}
@keyframes gravity {
to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
}
}
@-webkit-keyframes position {
0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
}
20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
}
40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
}
60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
}
80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
}
}
@-moz-keyframes position {
0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
}
20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
}
40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
}
60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
}
80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
}
}
@-o-keyframes position {
0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
}
20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
}
40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
}
60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
}
80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
}
}
@-ms-keyframes position {
0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
}
20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
}
40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
}
60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
}
80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
}
}
@keyframes position {
0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
}
20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
}
40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
}
60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
}
80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
}
}

@media (max-width: 420px) {

    .header {
        padding: 2rem 0;
    }

    .header__title {
        font-size: var(--size-l);
    }
    .section_choose {
        width: 240px;
        padding: 2rem 1.5rem;
    }

    .section_choose__msg-error {
        width: 220px;
        left: 1.1rem;
    }

    .msg-hide {
        width: 220px;
        left: 3rem;
    }

    .section_questions {
        width: 240px;
        padding: 2rem 1.5rem;
    }

    .section_questions__list--answer-options {
        width: 240px;
    }
    .error-show{
        font-size: var(--size-xxs);
        max-width: 200px;
        left: 1rem;
    }

    .correct-show {
        font-size: var(--size-xxs);
        max-width: 200px;
        left: 1rem;
    }
    

    .section-final {
        width: 240px;
        padding: 2rem 1.5rem;
    }
}

.footer {
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
}

.footer__text {
    color: var(--color-positive);
    font-family: var(--ff-title);
    font-size: var(--size-xxs);
    line-height: 1.4em;
    text-align: center;
}

.footer__text a {
    color: var(--color-sea);
    text-decoration: none;
}

@media (max-width: 500px) {
    .footer__text {
        max-width: 250px;
    }
}