body {
    background-image: url('../img/pattern.png');
    background-size: 50%;
    background-attachment: fixed;
}

.main {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    margin: 0 auto;
    max-width: 1920px;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1), transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &__scroll {
        align-items: center;
        bottom: 30px;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .25em;
        position: fixed;
        right: 30px;
        text-transform: uppercase;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        writing-mode: tb;

        &.hide {
            opacity: 0;
            visibility: hidden;
        }

        &::after {
            animation: scrollIndicator 2s infinite ease-in-out;
            background-color: $white;
            content: '';
            height: 38px;
            margin-top: 8px;
            width: 2px;
        }
    }

    &__photo {
        display: flex;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        padding: 0 5vw;
        position: sticky;
        top: 0;
        width: 50%;

        &--box {
            margin: auto;
            max-width: 600px;
            position: relative;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

            &::before {
                border: 1px solid rgba($white, .05);
                content: '';
                display: block;
                height: 100%;
                left: -15px;
                position: absolute;
                top: 15px;
                width: 100%;
                z-index: -1;
            }

            &::after {
                border: 1px solid rgba($white, .05);
                content: '';
                display: block;
                height: 100%;
                left: -30px;
                position: absolute;
                top: 30px;
                width: 100%;
                z-index: -1;
            }
        }

        &--img {
            max-height: 80vh;
            overflow: hidden;
        }

        &--name {
            bottom: 30px;
            font-size: 32px;
            left: 30px;
            letter-spacing: .05em;
            position: absolute;

            &::after {
                background-color: $white;
                content: '';
                display: block;
                height: 1px;
                margin-top: 10px;
                width: 40px;
            }
        }
    }

    &__info {
        padding: 0 5vw 0 0;
        width: 50%;
    }

    &.active {
        opacity: 1;
        transform: none;
        transition-delay: 3s;

        .main__photo--box {
            transform: perspective(1000px) rotateY(16deg);
            transition-delay: 3.35s;
        }       
    }
}

@keyframes scrollIndicator {
    from {
        transform-origin: top;
        transform: scaleY(0);

    }
}

.section {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    margin-bottom: 4em;

    &__content {
        padding: 0 20px;
    }

    &::after {
        background-color: $white;
        content: '';
        display: block;
        height: 1px;
        margin-top: 2em;
        width: 40px;
    }

    &__title {
        font-weight: 700;
        letter-spacing: 0.08em;
        padding-bottom: 2em;
        text-transform: uppercase;
    }
}

.init {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .section__title {
        order: -1;
    }

    &__job {
        font-size: calc(42px + 2vw);
        font-weight: 300;
        letter-spacing: .04em;
        line-height: 125%;

        &--box {
            display: inline-block;
            overflow: hidden;
        }

        &--text {
            display: inline-block;
        }
    }
}

.aboutme {
    &__text {
        color: $soft;
        font-size: 32px;
        line-height: 120%;
    }
}

.experience {
    margin-bottom: 50vh;

    &__list {
        border-left: 1px solid $white;
        margin-left: 20px;

        &--item {
            background-color: $black;
            margin-left: 10px;
            max-width: 680px;
            padding: calc(26px + 2vw) calc(20px + 2vw);
            position: relative;

            &::before {
                content: url('../img/triangle.svg');
                left: 0;
                position: absolute;
                top: 20px;
                transform: translateX(-99%);
            }

            &::after {
                background-color: $white;
                content: '';
                height: 40px;
                left: -32px;
                position: absolute;
                top: 15px;
                width: 3px;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
        
        &--job {
            font-size: calc(16px + 2vw);
            font-weight: 300;
            padding: 24px 0;
        }

        &--time {
            letter-spacing: 0.03em;
            text-transform: uppercase;

            &-end {
                color: $soft;
            }
        }
    }

    &::after {
        display: none;
    }
}

.tabs {
    max-width: 752px;
    overflow: hidden;

    &__item {
        border-bottom: 1px solid $soft;
        margin-bottom: 50px;
        padding: 12px 0;
        transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1), transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 100%;

        &:hover {
            color: $soft;
        }
        
        &--label {
            align-items: flex-start;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            font-size: calc(16px + 1.25vw);
            font-weight: 300;
            line-height: 130%;

            &::after {
                content: '+';
                font-size: 40px;
                padding: 0  0 0 32px;
                transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        &--content {
            font-size: 24px;
            letter-spacing: 0.03em;
            line-height: 120%;
            max-height: 0;
            opacity: 0;
            padding-top: 16px;
            text-transform: uppercase;
            transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &--company {
            border-right: 1px solid $soft;
            padding-right: 22px;
        }

        &--initdate {
            color: $soft;
            padding: 0 16px;
        }

        &--input {
            opacity: 0;
            position: absolute;

            &:checked {
                + .tabs__item--label::after  {
                    content: '-';
                    padding: 0 32px 0 0 ;
                    transform: rotate(180deg);
                }

                ~ .tabs__item--content {
                    max-height: 100vh;
                    opacity: 1;
                }
            }
            
        }
    }
}

.projects {
    margin-bottom: 20rem;
    max-width: 752px;
    
    &__item {
        display: block;
        padding: 20px;

        &--img {
            overflow: hidden;

            img {
                transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        &:hover img {
            transform: scale(1.2);
        }
    }
}

.skills {
    margin-bottom: 20rem;
    
    &__item {
        padding: 20px;   
        
        progress {
            opacity: 0;
            width: 100%;
        }

        &--label {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &--progress {
            background-color: $soft;
            height: 1px;
            position: relative;
            width: 100%;

            &-value {
                background-color: $white;
                content: '';
                height: 3px;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: width 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                width: 0;

                &::before {
                    background-color: $black;
                    content: attr(data-value);
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0.08em;
                    padding: 4px 6px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: -20px;
                    transform: translate(50%, -100%);
                    width: 32px;
                }

                &::after {
                    content: '';
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid $black;
                    position: absolute;
                    right: 0;
                    top: -16px;
                    transform: translate(50%, -100%);
                }
            }
        }
    }
}

.contact {
    border: 1px solid rgba($white, .5);
    font-family: 'Source Sans Pro', sans-serif;
    margin: calc(32px + 2vw) auto;
    max-width: fit-content;
    opacity: 0;
    padding: 60px 100px 40px 60px;
    position: relative;
    transform: scale3d(0.6, 0.6, 0.6) translateY(20%);
    transition: opacity .4s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);

    &.visible {
        opacity: 1;
        transition-delay: .3s;
        transform: none;
    }

    &__content {
        display: flex;
        grid-gap: calc(32px + 10vw);
        justify-content: space-between;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0.08em;
    }

    &::before {
        border: 1px solid rgba($white, .5);
        content: '';
        display: block;
        height: 100%;
        left: -15px;
        position: absolute;
        top: 15px;
        width: 100%;
        z-index: -1;
    }

    &::after {
        border: 1px solid rgba($white, .5);
        content: '';
        display: block;
        height: 100%;
        left: -30px;
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: -1;
    }

    &__list {
        padding: 20px;
    }

    &__item {
        font-weight: 400;
        &--text {
            color: $soft;
            font-weight: 300;
            margin-right: 12px;
        }

        &:not(:last-child) {
            padding-bottom: 32px;
        }

        a {
            color: $white;
            margin-right: 12px;
            text-decoration: none;
        }
    }

    &__cv {
        align-items: baseline;
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-bottom: 20px;
        position: relative;
        text-decoration: none;

        &::after {
            background-color: $soft;
            bottom: -6px;
            content: '';
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            transition: width 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            width: 100%;
        }

        &:hover::after {
            width: 0;
        }

        &--text {
            color: $soft;
            font-weight: 400;
        }

        &--svg {
            fill: $soft;
            margin-left: 8px;
            width: 20px;
        }
    }
}

.footer {
    color: $soft;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    margin-left: auto;
    padding: 60px 12px 12px;
}

@media (max-width: 1106px) {
    .contact {
        padding: 60px 60px 40px 10px;

        &__content {
            grid-gap: calc(22px + 2vw);
        }
    }
}

@media (max-width: 780px) {
    .main {
        flex-direction: column;

        &__photo {
            padding: 0;
            width: 100%;
            z-index: -1;

            &--img {
                height: 100vh;
                height: calc(var(--vh, 1vh) * 100);
                max-height: 100vh;
                max-height: calc(var(--vh, 1vh) * 100);

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &--box {
                max-height: 100%;
                max-width: 100%;

                &::before, &::after {
                    display: none;
                }
            }
        }

        &__info {
            margin-top: 75vh;
            margin-top: calc(var(--vh, 1vh) * 75);
            padding: 0 5vw;
            width: 100%;
        }

        &.active {
            .main__photo--box {
                
                transform: none;

                &.scrolled {
                    opacity: .35;
                    max-width: 80%;
                    transform: perspective(1000px) rotateY(32deg) translateX(-60%);
                }
            }  
        }
    }

    .section {
        margin-bottom: 8em;
        min-height: auto;
    }

    .aboutme__text {
        font-size: 24px;
    }

    .experience__list {
        max-width: fit-content;
        margin: 0 auto;
    }

    .tabs__item {
        &:hover {
            color: $white;
        }

        &--content {
            font-size: 18px;
        }
    }
    
    .contact {
        transform: translateX(10px);

        &__content {
            flex-direction: column;
        }

        &__cv {
            margin: 0;
            padding: 0;
        }
    }
    
}

@media (max-width: 584px) {
    .contact {
        margin: calc(32px + 2vw) 10px;
        max-width: calc(100% - 24px);
        padding: 32px;
        transform: none;

        &::after, &::before {
            display: none;
        }

        &__content {
            font-size: calc(16px + 1.25vw);
            line-height: 120%;
        }

        &__item span {
            display: block;
        }
    }
}

@media (max-width: 504px) {
    .experience__list {
        margin: 0 10px;
        max-width: initial;

        &--item {
            margin-left: 30px;
            padding: 30px 20px;
        }

        &--job {
            font-size: 24px;
        }
    }

    .init__job {
        font-size: calc(38px + 2vw);
    }

    .main__info {
        padding: 0 10px;
    }

    .section__content {
        padding: 0;
    }

    .aboutme__text {
        font-size: 20px;
    }

    .tabs__item {
        margin-bottom: 30px;

        &--content {
            padding-top: 6px;
        }
    }

    .projects__item {
        margin: 12px 0;
        padding: 0;
    }

    .skills__item--label {
        font-size: calc(16px + 1.25vw);
    }

    .contact {
        padding: 30px 10px;

        &__list {
            padding: 0 10px;
        }

        &__item:not(:last-child) {
            padding-bottom: 18px;
        }
    }
}