
.bold {
    font-weight: bold;
}

.show {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1), transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.active {
        opacity: 1;
        transform: none;
        transition-delay: .25s;
    }
}


@media (max-width: 780px) {
    .show-mob {
        opacity: 0;
        transform: translateY(60px);
        transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1), transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    
        &.active {
            opacity: 1;
            transform: none;
            transition-delay: .25s;
        }
    }
}